@import url('https://fonts.googleapis.com/css?family=Courgette|Raleway:900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 4em;
    padding: 2em;
    background-color: #fdfdff;
    margin: 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
div {
    border-radius: 0.5em;
}
#name{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: black;
  font-size:1.5em;
  padding-left: 3.5em;
  padding-top: 1.0em;
  margin-bottom: .5em;
  border-top: 1px solid silver;

}
.people{
  font-family: 'Roboto', sans-serif;
  color:black;
  text-align:left;
  padding-left: 5em;
  margin-top:0.2em;
  margin-bottom:0em;



}
.results-box{
  color:red;
}
a:link, a:visited {
    color: #38488f;
    text-decoration: none;
}


@media (max-width: 700px) {
    div {
        margin: 0 auto;
        width: auto;
    }
}

  h1{
    font-family: 'Raleway', sans-serif;
    color: #8a009a;
  }

  #connectLogo, #withLogo {
    display: inline-block;
    float: none;
    position: relative;
    font-size: 300%;
  }

  h2{
    font-family: 'Courgette', cursive;
    color:#efaa05;
    display:inline;
  }
  #locationForm , #professionForm {
    text-align: center;
  }
  p{
    text-align: center;
    font-family: "Helvetica";
    color: #000000;
  }
  #logo {
    text-align: center;
  }
  #link {
   color:  white;
  }
  #buttonDivide {
    text-align: center;
  }
  button {
    background-color: #efaa05;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 20px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    align: center;
  }
