@import url('https://fonts.googleapis.com/css?family=Kanit:100i|Courgette|Rubik|Raleway:900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 2em 4em;
    padding: 2em 4em;
    background-color:white;
    margin: 0;
    padding: 0;
    font-family: "Rubik", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.wrapper {
  margin: 1em;
  padding: 2em 6.5em;
}

a:link, a:visited {
    color: #38488f;
    text-decoration: none;
}
@media (max-width: 700px) {
    div {
        margin: 0 auto;
        width: auto;
    }
}

.bgPic {
  max-height: 350px;
  position: relative;
  height: 350px;
  overflow: hidden;
  margin-bottom: 2em;
}

.bgPic img {
  background-size: contain;
  width: 100%;
}
  
  h1{
    font-family: 'Raleway', sans-serif;
    color: #E8D000;
  }

  h1, h2 {
    margin: 0;
    padding: 0;
  }

  .logoName {
    display: inline-block;
    position: relative;
    top: -35px;
    padding-bottom: 5px;
  }

  .slogan {
    color: white;
    font-size: 36px;
    position: absolute;
    padding: 3.5em 3.4em;
    width: 550px;
  }
  
  #connectLogo, #withLogo {
    display: inline-block;
    float: none;
    position: relative;
    font-size: 300%;
  }
  
  h2{
    font-family: 'Kanit', sans-serif;
    color:#C740D7;
    display:inline;
  }

  #locationForm , #professionForm {
    text-align: center;
  }
  p{
    font-family: "Rubik", sans-serif;
    color: #000000;
  }
 
  #link {
   color:  white;
  }

  #logo {
    position: absolute;
    padding: 1em;
  }

  #logo img {
    width: 100px;
    height: auto;
    display: inline-block;
  }

  #buttonDivide {
    text-align: center;
  }

  button {
    background-color: #C740D7;;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 20px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }